#root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier New", Courier, monospace;
    color: #ffffff;
  }
  body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
  }
  .container {
    position: relative;
    min-width: 300px;
    min-height: 400px;
    padding: 40px 30px 30px;
    border-radius: 20px;
    background-color: #2d2d2d;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
      10px 10px 70px rgba(0, 0, 0, 0.25), inset -5px -5px 15px rgba(0, 0, 0, 0.25),
      inset 5px 5px 15px rgba(0, 0, 0, 0.25);
  }

 
/* .button {
  width: 50px;
  height: 50px;
} */
  
  button {
    color: #fff;    
    font-size: 2rem;
    width: 80px;
    margin: 8px;
    height: 80px;
    background: linear-gradient(180deg, #2f2f2f, #3f3f3f);
    box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),
      inset 0 -8px 8px rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.75),
      10px 20px 25px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    font-weight: 400;
    border-radius: 10px;
  }

  
 .button-container {
    position: relative;
    display: grid;
    grid-template-areas:
        "display display display display" 
        "AC . clear  divide"
        "seven eight nine multiply"
        "four five six minus"
        "one two three add"
        ". zero . equals";
  } 
 
  .display {
    font-family: "Comic Sans MS";
    font-size: 2rem;
    grid-area: display;
    text-align: right;
    width: 400px;
    height: 80px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #4121f3;
  }


  .calculator button:hover {
    color: aliceblue;
    background: linear-gradient(90deg, #444343, #5f5f5f);
    
  }

  .calculator button:active {
    filter: brightness(1.5);
  }
  
  .calculator .ac {
    background-color: red;
  }

  .container .equal {
    background-color: #2196f3;
  }
  .calculator .add {
    background: #f321d7;
  }
  .calculator .subtract {
    background: #f321d7;
  }
  .calculator .divide {
    background: #f321d7;
  }
  .calculator .multiply {
    background: #f321d7;
  }


/* grid template area for ALL BUTTONS, omg */
  
  .ac {
    grid-area: AC;
  }

  .c {
    grid-area: clear
  }

.divide {
  grid-area: divide;
}

.multiply {
  grid-area: multiply;
}

.add {
  grid-area: add;
}

.subtract {
  grid-area: minus;
}

.equal {
  grid-area: equals;
}

.nine {
  grid-area: nine
}
.eight {
  grid-area: eight
}
.seven {
  grid-area: seven
}
.six {
  grid-area: six;
}
.five {
  grid-area:five;
}
.four {
  grid-area: four;
}
.three {
  grid-area: three;
}
.two {
  grid-area: two
}
.one {
  grid-area: one;
}
.zero {
  grid-area: zero;
}
